{
  "extends": ["react-app", "react-app/jest", "airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "ignorePatterns": ["build/"]
}
