{
  "extends": ["react-app", "react-app/jest", "airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off"
  },
  "ignorePatterns": ["build/"]
}
